src/locales/*
src/lib/*
src/pnacl/*
src/swiftshader/*
src/chrome_crashpad_handler
src/chromedriver
src/credits.html
src/icudtl.dat
src/minidump_stackwalk
src/nacl_helper
src/nacl_helper_bootstrap
src/nacl_irt_x86_64.nexe
src/nw_100_percent.pak
src/nw_200_percent.pak
src/nwjc
src/payload
src/resources.pak
src/Scrcpy啟動器
src/user_config.json
src/v8_context_snapshot.bin
nwjs/*
